h1{
	background-color: cyan;
	color: red;
}

input{
	border: 2px solid black;
	background-color: #69FFAA;
	font-size: 28;
	font-family: Arial;
	text-align: center;
}

button{
	font-size: 20;
	background-color: #ffffff;
	font-family: Arial;
}

p{
	border: 1px solid black;
	font-size: 30;
	background-color: #D4FFC9;
}

.a{
	font-size: 20;
}